services:
  femulator:
    restart: unless-stopped
    image: femulator:1.0
    container_name: femulator
    hostname: femulator
    volumes:
          - ../src/app/server/report:/src/app/server/report
          - ../src/app/client/images:/src/app/client/images    
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "5868:5868"
    networks:
      - femulator_network

networks:
  femulator_network:
    external: true
    name: femulator_network
