.boat {
    animation: boat-sway 6s ease-in-out infinite alternate;
    transform-origin: bottom center;
    position: absolute;
    bottom: 16px;
    width: 10%;
    left: calc(100% - 95% - 20px);
}

.water-line {
    width: 100%;
    height: 1px;
    background-color: #0077be;
    position: absolute;
    bottom: 100px;
}

@keyframes boat-sway {
    0% {
        transform: translateY(0) rotate(-3deg);
    }
    100% {
        transform: translateY(-10px) rotate(3deg);
    }
}
