#cloud-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: calc(var(--horizon-top) + 12px);
    overflow: hidden;
    pointer-events: none;
    background: linear-gradient(to left, #73e7ee, transparent);
}

#cloud-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, black 10%, transparent 100%);
}

#cloud {
    width: 1px;
    height: 1px;
    transform: translate(-100%, -100%);
    border-radius: 50%;
    filter: url(#filter);
}
