body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #dfdfdf;
}

.horizon-svg {
    position: absolute;
    top: calc(7%);
    left: 0;
    width: 100%;
    height: 30px;
    overflow: visible;
}

.pena-palace {
    position: absolute;
    width: 110px;
    top: calc(7% - 44px);
    right: 120px;
    z-index: 1;
}

.pena-palace-caption {
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    position: absolute;
    top: calc(7%);
    right: calc(71px);
}
