@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/material.symbols.outlined.v3.woff2') format('woff2');
	font-display: fallback;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.pm-menu,
.hud {
	pointer-events: auto;
}

.pm-menu {
    position: fixed;
    z-index: 0;
    display: flex;
    gap: 8px;
    pointer-events: auto;
}

.pm-menu button {
	outline: none;
	border: none;
	border-radius: 8px;
	width: 36px;
	height: 36px;
	background-color: transparent;
}

.pm-menu button .svg-icon {
    display: grid;
    place-items: center;
    border: 0.5px solid #c9c9c9;
    border-radius: 8px;
    cursor: pointer;
    fill: #646464;
    stroke: #646464;
    padding: 5px;
}

.pm-menu button:hover .svg-icon {
    color: #1c9649;
	box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px, rgba(10, 37, 64, 0.25) 0px -2px 6px 0px inset;
}

.pm-menu button.active .svg-icon {
	border: 0.5px solid #cecece;
	border-style: inset;
	background-color: #adfecbcc;
	fill: #1b7e1bcc;
	stroke: #1b7e1b;
}

.pm-menu button.active:hover .svg-icon {
	box-shadow: none;
}

.svg-icon {
	fill: currentColor;
	stroke: currentColor;
}

.pm-top-left {
	top: var(--pm-m, 16px);
	left: var(--pm-m, 16px);
}

.pm-top-right {
	top: var(--pm-m, 16px);
	right: var(--pm-m, 16px);
}

.pm-bottom-left {
	bottom: var(--pm-m, 16px);
	left: var(--pm-m, 16px);
}

.pm-bottom-right {
	bottom: var(--pm-m, 16px);
	right: var(--pm-m, 16px);
}

.pm-close {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: #aaaaaa;
    cursor: pointer;
    line-height: 1;
}

.pm-close:hover {
    background: #ff9e8d;
	color: #363636;
}

.pm-bottom-center {
    bottom: var(--pm-m, 16px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
