.pm-menu,
.hud {
	pointer-events: auto;
}

.pm-menu {
    position: fixed;
    z-index: 0;
    display: flex;
    gap: 8px;
    pointer-events: auto;
}

.pm-menu button {
	outline: none;
	border: none;
	width: 36px;
	height: 36px;
	border-radius: 8px;
	background-color: transparent;
}

.pm-menu button .svg-icon {
    display: grid;
    place-items: center;
    cursor: pointer;
	border-radius: 8px;
	border: 0.5px outset #c9c9c9;
	fill: #646464;
    stroke: #646464;
    padding: 5px;
	background-color: #ffffff96;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pm-menu button:hover .svg-icon {
    background-color: #ffffff;
    border: 0.5px outset #c9c9c9;
    border-radius: 8px;	
	fill: #57b379;
    stroke: #57b379;
}

.pm-menu button.active .svg-icon {
    border: 0.5px inset #c9c9c9;
    border-radius: 8px;
    background-color: #adfecbcc;
    fill: #1b7e1bcc;
    stroke: #1b7e1b;
    box-shadow: none;
    stroke-width: 20px;
}

.pm-menu button.active:hover .svg-icon {
	border: 0.5px inset #c9c9c9;
	box-shadow: none;
}

.svg-icon {
	fill: currentColor;
	stroke: currentColor;
}

.pm-top-left {
	top: var(--pm-m, 16px);
	left: var(--pm-m, 16px);
}

.pm-top-right {
	top: var(--pm-m, 16px);
	right: var(--pm-m, 16px);
}

.pm-bottom-left {
	bottom: var(--pm-m, 16px);
	left: var(--pm-m, 16px);
}

.pm-bottom-right {
	bottom: var(--pm-m, 16px);
	right: var(--pm-m, 16px);
}

.pm-close {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 20px;
    height: 18px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: #aaaaaa;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    border: 0.5px solid #cecece;
}

.pm-close:hover {
    background: #ff9e8d;
	color: #363636;
    border: 0.5px solid #dedede;
}

.pm-bottom-center {
    bottom: var(--pm-m, 16px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
