.progress-bar-container {
    position: relative;
    width: 100%;
    height: 11px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 2px 0px 0px 5px;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 12px;
    background: linear-gradient(90deg, #77bb84, #52d26c);
    transition: width 0.3s ease;
    border-radius: 0px;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: right;
    line-height: 0px;
    font-size: 11px;
    color: #3f3f3f;
    font-weight: bold;
    margin: 5px 0px;
}

.metrics-container {
    margin: 0px;
    padding: 5px 10px 5px 10px;
}

.metric-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
}

.metric-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #363636;
}

.metric-value {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #252525;
}
