/* Tab content visibility */
.tab-content {
    display: none;
    margin: 0px;
}

.tab-content.active {
    display: block;
}

.tab {
    position: relative;
    padding: 5px 16px 5px 16px;
    background-color: #ffda7133;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    margin-bottom: 1px;
    min-width: auto;
    width: auto;
}

.tab.active {
    color: #1a1a1a;
    z-index: 1;
}

.hud .tabs-container {
    display: flex;
    width: 100%;
    padding: 0px 6px 0 6px;
    margin: 5px 0px 0px 0px;
    border-bottom: 0.5px solid #9c9c9c;
    box-sizing: border-box;
    gap: 1px;
}

.hud .tab {
    position: relative;
    padding: 4px 10px 2px 10px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    color: #1a1a1a;
    font-weight: 500;
    transition: all 0.2s ease;
    min-width: auto;
    width: auto;
    border: 0.5px solid #696969;
}

.hud .tab.active {
    background-color: #fff4e5 !important;
    color: #1a1a1a;
    z-index: 1;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff4e5 !important;
    padding-top: 5px;
}

.hud .tab.active:hover {
    background-color: #fff4e5 !important;
    margin-bottom: -1px;
    border-bottom: 0.5px solid #fff4e5;
}

.hud .tab:not(.active) {
    border-bottom: 0.5px solid transparent;
    margin-bottom: 0px;
    padding: 5px 10px 1px 10px;
}